.container {
  display: block;
  width: 387px;

  border-radius: 0.625rem;
  border: 1px solid var(--gray-100);
  padding: 1rem;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0px 0px 16px 9px rgba(245, 245, 245, 0.65);
  }

  .banner {
    border-radius: 0.625rem;
  }
}

.contentWrapper {
  h3 {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-size: 1.5rem;
    margin-top: 0.375rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
  }

  .content {
    margin-top: 0.8rem;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
    font-size: 14px;
    color: var(--black-500);
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;

  .authorInfo {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    img {
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      color: var(--black-500);
    }
  }

  .publishedDate {
    color: var(--gray-400);
    font-weight: 400;
    font-size: 0.75rem;
  }
}
